body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0f19;
    color: #f1f1f1;
}

/* HEADER */

.hero{
    height: 100vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.75),
        rgba(0,0,0,0.80)
    ),
    url("banne1.png");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 0 20px;
}

.hero-content{
    max-width: 850px;
}

header h1{
    font-size: 32px;
    color: #5da9ff;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
    font-weight: 500;
}

nav a:hover{
    color: #5da9ff;
}

/* HERO */

.hero{
    height: 100vh;

    background:
    linear-gradient(rgba(0,0,0,0.7),
    rgba(0,0,0,0.8)),
    url("images/imagen1.jpg");

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}

.overlay{
    max-width: 800px;
}

.hero h2{
    font-size: 70px;
    margin-bottom: 25px;

    color: white;

    text-shadow:
    0 0 10px rgba(0,0,0,0.8),
    0 0 20px rgba(0,0,0,0.8);
}

.hero p{
    font-size: 22px;
    line-height: 1.8;

    color: #d6d6d6;

    text-shadow:
    0 0 10px rgba(0,0,0,0.8);
}

/* BOTON */

.btn{
    display: inline-block;

    margin-top: 35px;

    background: #5da9ff;

    color: white;

    padding: 16px 35px;

    border-radius: 10px;

    text-decoration: none;

    font-weight: bold;

    transition: 0.3s;
}

.btn:hover{
    transform: translateY(-5px);

    background: #79b9ff;

    box-shadow: 0 0 20px #5da9ff;
}

.btn:hover{
    transform: translateY(-5px);
    background: #7db9ff;
}

/* SECCIONES */

.info{
    padding: 100px 80px;
}

.info h2{
    font-size: 45px;
}

.info p{
    font-size: 20px;
    line-height: 1.8;
    color: #c5c5c5;
}

/* CARDS */

.card{
    background: #111827;

    margin: 30px 80px;
    padding: 40px;

    border-radius: 20px;

    transition: 0.3s;

    border: 1px solid transparent;
}

.card:hover{
    transform: translateY(-10px);
    border-color: #5da9ff;
}

.card h3{
    font-size: 32px;
}

.card p{
    color: #cfcfcf;
    line-height: 1.8;
}

/* FOOTER */

footer{
    background: #05070d;
    text-align: center;
    padding: 50px;
    margin-top: 80px;
}

footer p{
    color: #8a8a8a;
}
