body{
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #0b0f19;
    color: #f1f1f1;
}

/* HEADER */

header{
    background: rgba(5,7,13,0.85);

    backdrop-filter: blur(10px);

    padding: 20px 60px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;

    width: 100%;

    top: 0;

    z-index: 1000;
}
.hero{
    min-height: 100vh;

    background:
    linear-gradient(
        rgba(0,0,0,0.65),
        rgba(0,0,0,0.75)
    ),
    url("image/banne1.png");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    padding: 0 20px;
}
.hero-img{
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    object-fit: cover;

    z-index: 1;

    filter: brightness(40%);
}

.hero-content{
    position: relative;

    z-index: 2;

    max-width: 900px;

    padding: 20px;
}

header h1{
    font-size: 32px;
    color: #5da9ff;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s;
    font-weight: 500;
}

nav a:hover{
    color: #5da9ff;
}

/* HERO */

.hero{
    position: relative;

    width: 100%;
    height: 100vh;

    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.overlay{
    max-width: 800px;
}

.hero h2{
    font-size: 72px;

    margin-bottom: 25px;

    color: white;

    text-shadow:
    0 0 20px rgba(0,0,0,0.8);
}

.hero p{
    font-size: 24px;

    line-height: 1.8;

    color: #d6d6d6;
}

/* BOTON */

.btn{
    display: inline-block;

    margin-top: 35px;

    background: #5da9ff;

    color: white;

    padding: 16px 35px;

    border-radius: 10px;

    text-decoration: none;

    font-weight: bold;

    transition: 0.3s;
}

.btn:hover{
    transform: translateY(-5px);

    background: #79b9ff;

    box-shadow: 0 0 20px #5da9ff;
}

.btn:hover{
    transform: translateY(-5px);
    background: #7db9ff;
}

/* SECCIONES */

.info{
    padding: 100px 80px;
}

.info h2{
    font-size: 45px;
}

.info p{
    font-size: 20px;
    line-height: 1.8;
    color: #c5c5c5;
}

/* CARDS */

.card{
    background: #111827;

    margin: 30px 80px;
    padding: 40px;

    border-radius: 20px;

    transition: 0.3s;

    border: 1px solid transparent;
}

.card:hover{
    transform: translateY(-10px);
    border-color: #5da9ff;
}

.card h3{
    font-size: 32px;
}

.card p{
    color: #cfcfcf;
    line-height: 1.8;
}

/* FOOTER */

footer{
    background: #05070d;
    text-align: center;
    padding: 50px;
    margin-top: 80px;
}

footer p{
    color: #8a8a8a;
}
